# rTorrent config files and downloads
rtorrent/config/*
rtorrent/downloads/*
!rtorrent/config/.gitkeep
!rtorrent/downloads/.gitkeep

# Heimdall
heimdall/custom-cont-init.d/
heimdall/custom-services.d/
heimdall/keys/
heimdall/log/
heimdall/nginx/
heimdall/php/
heimdall/www/SupportedApps/searchproviders.yaml
